# Supabase PostgreSQL Connection String (Transaction Pooler - IPv4)
DATABASE_URL="postgresql://postgres.giikppvdlhobhsnoxqou:Rlxbyxj71ledkWR6@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres"

# Supabase Public API Keys
NEXT_PUBLIC_SUPABASE_URL="https://giikppvdlhobhsnoxqou.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpaWtwcHZkbGhvYmhzbm94cW91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyNTc4NzIsImV4cCI6MjEwMDgzMzg3Mn0.O7lkr355UQRCJCss43444pFpx2PSL56Lrou0xUT3pr0"